xtensor-tests

#Testscript output directory (can be symlink).
#

test_extended_broadcast_view
test_extended_xhistogram
test_extended_xmath_interp
test_extended_xmath_reducers
test_extended_xsort
test_sfinae
test_xaccumulator
test_xadapt
test_xadaptor_semantic
test_xarray
test_xarray_adaptor
test_xassign
test_xaxis_iterator
test_xaxis_slice_iterator
test_xblockwise_reducer
test_xbroadcast
test_xbuffer_adaptor
test_xbuilder
test_xchunked_array
test_xchunked_view
test_xcomplex
test_xcontainer_semantic
test_xcsv
test_xdatesupport
test_xdynamic_view
test_xeval
test_xexception
test_xexpression
test_xexpression_holder
test_xexpression_traits
test_xfixed
test_xfunc_on_xexpression
test_xfunction
test_xfunctor_adaptor
test_xhistogram
test_xindex_view
test_xinfo
test_xio
test_xiterator
test_xjson
test_xlayout
test_xmanipulation
test_xmasked_view
test_xmath
test_xmath_result_type
test_xmime
test_xmultiindex_iterator
test_xnan_functions
test_xnoalias
test_xnorm
test_xnpy
test_xoperation
test_xoptional
test_xoptional_assembly
test_xoptional_assembly_adaptor
test_xoptional_assembly_storage
test_xpad
test_xrandom
test_xreducer
test_xrepeat
test_xscalar
test_xscalar_semantic
test_xset_operation
test_xshape
test_xsimd
test_xsimd8
test_xsort
test_xstorage
test_xstrided_view
test_xstrides
test_xtensor
test_xtensor_adaptor
test_xtensor_lib
test_xtensor_semantic
test_xutils
test_xvectorize
test_xview
test_xview_semantic
